*{
    font-family: 'Tektur', cursive;
    line-height: 1.5;
    --Color1 : #7758b7;
    --Color2 : #2b2b2b;
    --Color3 : #cdcdcd;
    --color4 : #ffffff; 
    color: var(--color4);
    
}
html{
    background: var(--Color2);
    background-image: url(../Imagenes/control-de-playstation_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
    
}

body{
    margin: 0 auto;
}
img{
    width: 100%;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--Color2);
    border-radius: 20px;
    margin: 16px auto;
    padding: 40px;
    width: 350px;
}
.Login__form{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.input{
    margin: 5px;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    background-color: #191919;
    box-shadow: inset 2px 5px 15px #070707;
    outline: none;
}



button{
    width: 350px;
    padding: 10px;
    border-radius: 30px;
    background-color:#191919 ;
    border: none;
    transition: .4s ease-in-out;
}

button:hover{
    background-color: var(--Color1);
    color: #eee;
    transition: linear;
}

button:active{
    background-color: #64a;
}

a{
    color:var(--Color1)
}

