*{
  font-family: 'Tektur', cursive;
  line-height: 1.5;
  font-size: 20px;
  --Color1 : #7758b7;
  --Color2 : #2b2b2b;
  --Color3 : #cdcdcd;
  --color4 : #ffffff; 
  --Color5 : #020202;
  margin : 0;
  
}
a{text-decoration: none;
color: var(--Color1);}
body{
  background: var(--Color5);
  background: linear-gradient(225deg, var(--Color5), var(--Color2));
}
li{list-style: none;}

nav{
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  background-color: var(--Color2);
  border-bottom: var(--Color1) solid 3px;
  
}
.item-nav{
  flex: 1 1;
}


body{
  margin-top: 3.5rem;
}
.menu{
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: 2.1rem;
}

.logoContainer{
  margin-left: 3rem;
}

.logoContainer img{
  height: 4rem ;
}

.menu__li{
  text-align: center;
  
}
.menu a:hover{
  color: var(--Color3);
}
.carousel__container{
  display: flex;
  width: 72%;
  margin: auto;
  justify-content: space-around;
}
.carousel__container img {
  filter: blur(1.2px);
}

.blr{
  background-color: #7757b73f;
}


.games-container {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}
.games{
  display: flex;
  width: 85%;
  margin: auto;
  gap: 16px;
}
.game__info{
  padding: 20px;
  background-color: red;
}
.games .icono{
  /*flex-grow: 1;*/
  flex-shrink: 0;
}

.games .descripcion{
  flex-grow: 3;
}
.juegos{
  background-color: #ffffff;

}

.botones{
  border-radius: 25%;
  background-color: #7758b7;
}